.search-input {
  display: block;
  width: 446px;
  margin-left: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  background: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  caret-color: #ffffff;
  transition: all .3s ease;

  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  &::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
  }
}

.search-input-label {
  position: relative;
  height: 74px;
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 628px;
    height: 2px;
    background-color: #ffffff;
    transition: all .3s ease;
  }

  &._active {

    & .search-input {
      width: 100%;
    }

    &:after {
      width: 100%;
      background-color: #fdce25;
    }
  }

  &._fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 0;
    padding: 0 80px;
    background: rgba(28, 28, 28, 0.8);
    z-index: 15;

    &:after {
      width: 100%;
      background-color: #ffffff;
    }
  }
}

.search-input-icon {
  display: block;
  width: 34px;
  height: 33px;
  background-image: url('../../assets/search-icon.svg');
}

.clear-search {
  background: no-repeat;
  border: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  position: relative;
  width: 32px;
  height: 32px;
  margin-top: -40px;
  margin-right: 12px;
  cursor: pointer;

  &:hover:before {
    background-color: #ffffff;
  }

  &:hover:after {
    background-color: #ffffff;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    height: 42px;
    width: 4px;
    border-radius: 5px;
    background-color: #777777;
    transition: background-color .3s ease;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
